# Exclude composer vendor directories.
/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/console

# Ignore all node_modules folders.
node_modules/
npm-debug.log

# Exclude the main drupal scaffold files.
# If we want to make changes to any of these files
# we must first remove them from gitignore and
# exclude from drupal-scaffold in the composer.json
web/autoload.php
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitattributes
web/.htaccess
private/.htaccess
web/index.php
web/sites/default/default.settings.php
web/sites/default/default.services.yml
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/update.php

# Ignore CSS stylesheet/maps.
web/themes/custom/par_theme/css/
web/themes/custom/par_theme/map/
web/themes/custom/par_theme/assets/vendor/

# Exclude Drupal files.
/web/sites/*/files/*
!/web/sites/*/files/.gitkeep
/private/*
!/private/.gitkeep

# Ignore environment specific and sensitive information.
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml

# Exclude additional database driver files.
/web/drivers/

# Ignore backups directory used to store a local back of the database.
/backups/

# Exclude configuration for developer only modules.
/sync/devel.*
/sync/simpletest.*
/sync/par_data_test.*
/sync/config_inspector.*

# Exclude test reports
web/sites/simpletest

# Exclude project files.
/.idea/
*.DS_Store
.buildpath
.project
.settings/
/nbproject/

# Exclude any Vagrant boxes
package.box
.vagrant/

# Exclude any docker containers
.docker-sync/

# Exclude local environment settings
.env
.env.*

auth.json
