# This file specifies which users will be automatically asked to review certain files
# when a pull request is made that touches those files.

############
# Default
############
*                @kalpaitch

############
# Dev-ops
############
/.travis.yml     @kalpaitch
/Vagrantfile     @kalpaitch
/.bp-config/     @kalpaitch
/devops/         @kalpaitch
/dashboard/      @kalpaitch
/docker/         @kalpaitch
/cf/             @kalpaitch
/*.sh            @kalpaitch
/tools/          @kalpaitch

############
# Testing
############
/tests/          @kalpaitch

