<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="par_coding_standards">
  <description>PHP Coding standards for developers.</description>

  <arg name="extensions" value="inc,install,module,php,profile,test,theme"/>

  <config name="drupal_core_version" value="10"/>

  <file>web/modules/custom</file>
  <file>web/modules/features</file>
  <file>web/themes/custom</file>

  <rule ref="Drupal"/>

  <rule ref="Drupal">
    <exclude name="Drupal.InfoFiles.AutoAddedKeys.Version"/>
  </rule>

  <exclude-pattern>**/node_modules/*</exclude-pattern>
  <exclude-pattern>**/dist/*</exclude-pattern>
</ruleset>
