.govuk-error-summary__list {
  list-style: none;
  padding-left: 0;

  .item-list__comma-list {
    li {
      display: block;

      &:after {
        content: "";
      }
    }
  }
}

input {
  &.error {
    @extend .govuk-input--error !optional;
  }
}
