{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="govuk-breadcrumbs">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="govuk-breadcrumbs__list">
    {% for item in breadcrumb %}
      <li class="govuk-breadcrumbs__list-item">
        {% if item.url %}
          <a href="{{ item.url }}" class="govuk-breadcrumbs__link">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
