@CHARSET "UTF-8";

table#commits, table#pulls {
	font-size:20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 29em;
	margin-left:1em;
}

table#commits td, table#pulls td { 
	border: 1px solid #ddd;
	padding: 8px;
}
	
table#commits tr:nth-child(even), table#pulls tr:nth-child(even)  {
	background-color: #444;
}

