<div class="govuk-date-input">
  <div class="govuk-date-input__item">{{ element.day }}</div>
  <div class="govuk-date-input__item">{{ element.month }}</div>
  <div class="govuk-date-input__item">{{ element.year }}</div>
</div>
