<div class="gds_date" style="display: table">
    <div style="display: table-row">
        <div class="sub-element" style="display: table-cell"><p class="sub-element-heading">Day</p>{{ element.day }}</div>
        <div class="sub-element" style="display: table-cell"><p class="sub-element-heading">Month</p>{{ element.month }}</div>
        <div class="sub-element" style="display: table-cell"><p class="sub-element-heading">Year</p>{{ element.year }}</div>
    </div>
</div>
