<div class="govuk-date-input">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      {{ element.day }}
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      {{ element.month }}
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      {{ element.year }}
    </div>
  </div>
</div>
