//// Pagination - this file styles the pagerer module.
//
//$module: 'pagerer-container';
//
//div.#{$module} {
//  margin-top: em(5, 16);
//  margin-bottom: em(20, 16);
//
//  display: block;
//
//  div.pagerer-panes {
//    display: flex;
//    flex-direction: column-reverse;
//    align-items: center;
//  }
//
//  @include media(tablet) {
//
//    div.pagerer-panes {
//      display: flex;
//      flex-direction: row;
//    }
//
//    margin-top: em(5);
//    margin-bottom: em(20);
//
//  }
//
//  .pagerer-left-pane,
//  .pagerer-center-pane,
//  .pagerer-right-pane {
//    display: block;
//  }
//
//  .pagerer-left-pane,
//  .pagerer-right-pane {
//    // force column to stretch full width on mobile.
//    width: 100%;
//  }
//
//  .pagerer-left-pane {
//
//    @include media(tablet) {
//      flex: auto;
//      width: auto;
//    }
//
//    // reset bullets on the "Showing x-x of results".
//    ul, li {
//      list-style-type: none;
//      margin: 0px;
//      padding: 0px;
//    }
//
//  }
//
//  .pagerer-right-pane {
//
//    // reset bullets.
//    nav, ul {
//      margin: 0px;
//      padding: 0px;
//    }
//
//    .pager__items {
//
//      text-align: left;
//
//      .pager__item {
//        display: none;
//        margin: 0 10px 0 0;
//
//        &.pager__item--previous,
//        &.pager__item--next {
//          display: inline;
//        }
//      }
//
//      @include media(tablet) {
//
//        .pager__item {
//          display: inline;
//        }
//
//        & {
//          float: right;
//          text-align: right;
//        }
//
//      }
//
//    }
//
//    @include media(tablet) {
//      width: auto;
//    }
//
//  }
//
//}
