//.table-scroll-wrapper {
//
//  // Use overflow-x scroll on mobile.
//  overflow-x: scroll;
//  overflow-y: visible;
//
//  // Reset overflow properties on desktop browsers to prevent scrollbars cross browser.
//  @include media(tablet) {
//    overflow-x: auto;
//    overflow-y: auto;
//  }
//
//  & > table {
//    width: 100%;
//  }
//
//}
