.view-dv-journey-1-step-1 {

  @extend .grid-row;

  // reset ul.
  ul {
    margin: 0;
    padding: 0;
  }

  .views-exposed-form {
    @extend .column-one-third;
  }

  .table-scroll-wrapper {
    @extend .column-two-thirds;
  }

  .views-exposed-form-inner {
    background: $grey-4;
    padding: 20px;

    input[type='text'] {
      width: 100%;
    }
  }

  header {
    margin: 0 15px;
  }

}

.par-rd-view,
.par-rd-helpdesk-dashboard {

  .views-exposed-form-inner {
    margin: 20px 0;
  }

  // CSV Export text.
  .views-data-export-csv-feed {
    background-image: none;
    display: block;
    padding: 20px 0;
  }

  .views-exposed-form-inner {
    border: 1px solid $grey-3;
    padding: 20px;
  }

}
