.view-dv-journey-1-step-1 {

  @extend .grid-row;

  // reset ul.
  ul {
    margin: 0;
    padding: 0;
  }

  .views-exposed-form {
    @extend .column-one-third;
  }

  .table-scroll-wrapper {
    @extend .column-two-thirds;
  }

  .views-exposed-form-inner {
    background: $grey-4;
    padding: 20px;

    input[type='text'] {
      width: 100%;
    }
  }

}
