<form action="/search/node" method="get" accept-charset="utf-8" class="search-header" role="search">
	<div class="gem-c-search gem-c-search--on-white gem-c-search--large gem-c-search--separate-label" data-module="gem-toggle-input-class-on-focus">
		<div class="gem-c-search__item-wrapper">
			<input type="search" value="" id="edit-keys" name="keys" title="Search" class="gem-c-search__item gem-c-search__input js-class-toggle" placeholder="Search {{ site_name }} {{ site_slogan }}">
			<div class="gem-c-search__item gem-c-search__submit-wrapper">
				<button type="submit" class="gem-c-search__submit">Search</button>
			</div>
		</div>
	</div>
</form>