// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #000000;
$title-color: rgba(255, 255, 255, 0.7);
$status-color: #FFFFFF;
$message-color: rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(0, 0, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-status styles
// ----------------------------------------------------------------------------
.widget-hot-status {

  background-color: $background-color;
  @include transition(background-color, 1s, linear);

  .title {
    color: $title-color;
    margin-bottom: 10px;
  }

  .status {
    color: $status-color;
    font-size: 40px;
  }

  .message {
    color: $message-color;
    font-size: 18px;
  }

  .updated-at {
    color: $updated-at-color;
  }

}

.hot-status-ok { background-color: #00C176; }
.hot-status-warning { background-color: #FABE28; }
.hot-status-critical { background-color: #FF003C; }
.hot-status-unknown { background-color: #FF003C; }
