{#
/**
 * @file
 * Theme override for a form password element.
 *
 * @see template_preprocess_form_element()
 */
#}

{%
  set classes = [
    'js-form-item',
    'form-item',
    'govuk-form-group',
    'govuk-password-input',
    'js-form-type-' ~ type|clean_class,
    'form-item-' ~ name|clean_class,
    'js-form-item-' ~ name|clean_class,
    title_display not in ['after', 'before'] ? 'form-no-label',
    disabled == 'disabled' ? 'form-disabled',
    errors and type not in ['radio'] ? 'govuk-form-group--error'
  ]
%}

<div{{ attributes.addClass(classes) }} data-module="govuk-password-input">

  {{ label }}

  {% if errors %}
    <span class="error-message govuk-error-message">
      {{ errors | striptags('<p>') | t }}
    </span>
  {% endif %}

  {{ children }}

</div>
