{#
/**
 * @file
 * Theme override for an 'password' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{%
  set classes = [
    'form-control',
    'govuk-input',
    'govuk-password-input__input',
    'govuk-js-password-input-input',
    errors ? 'govuk-input--error'
  ]
%}

<div class="govuk-input__wrapper govuk-password-input__wrapper">
  <span class="form-hint govuk-hint">{{ attributes.placeholder }}</span>
  <input{{ attributes.removeClass('govuk-form-group').addClass(classes).removeAttribute('placeholder').removeAttribute('id') }} id="password-input" name="password" type="password" spellcheck="false" autocomplete="current-password" autocapitalize="none" />{{ children }}

  <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password-input" aria-label="Show password" hidden>
    Show
  </button>
</div>
