.govuk-error-summary__list {
  list-style: none;
  padding-left: 0;

  .item-list__comma-list {
    li {
      display: block;

      &:after {
        content: "";
      }
    }
  }
}

input {
  &.error {
    @extend .govuk-input--error !optional;
  }
}

.govuk-password-input__toggle {
  margin-top: 5px;
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    width: auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 5em;
    margin-top: 0;
    margin-left: 5px;
  }
}
