/* par.scss */
@import "govuk-template";

// ==========================================================================
// PAR Customisations outside the Gov UK template.
// ==========================================================================
@import 'par/manifest';

@use 'accessibility';

/*
main#content {
  display: block;
  position: relative;
  margin: 0 auto;
  width: auto;
  max-width: $site-width;
}
*/

/* Extend's GDS grid */

.column-three-quarter {
  float: left;
  width: 75%;
}

/* overrides assets/stylesheets/_header.scss */
#logo {

  background: none;

  @include ie-lte(8) {
    background-image: none;
  }

  img {
    visibility: visible!important;
  }
}

/* error summary overrides */
ul.error-summary-list li {
  list-style-type: none;
}

.form-control-error {
  border: 4px solid #b10e1e;
}

.form-group-error {
  border-left: 5px solid #b10e1e;
  padding-left: 15px;

  /* Media queries may be required here */
}

/* documented by GDS in govuk-elements heroku, but not actually defined anywhere in ANY of their SCSS libraries. So I've defined it here. */
.multiple-choice {
  display: block;
  float: none;
  clear: left;
  position: relative;
  padding: 8px 10px 9px 50px;
  margin-bottom: 10px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  @include media(desktop){
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;

    .inline {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
  @include ie-lte(8) {
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    z-index: 1;
    margin: 0;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }

  [type=radio] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  [type=radio] + label::after {
    content: "";
    border: 10px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    left: 9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }

  [type=radio]:focus + label::before {
    -webkit-box-shadow: 0 0 0 4px #ffbf47;
    -moz-box-shadow: 0 0 0 4px #ffbf47;
    box-shadow: 0 0 0 4px #ffbf47;
  }

  [type=checkbox] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
  }

  [type=checkbox] + label::after {
    content: "";
    border: solid;
    border-width: 0 0 5px 5px;
    background: transparent;
    width: 17px;
    height: 7px;
    position: absolute;
    top: 10px;
    left: 8px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }

  [type=checkbox]:focus + label::before {
    -webkit-box-shadow: 0 0 0 4px #ffbf47;
    -moz-box-shadow: 0 0 0 4px #ffbf47;
    box-shadow: 0 0 0 4px #ffbf47;
  }

  input:checked + label::after {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }

  input:disabled + label {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
  }

  .multiple-choice:last-child, .multiple-choice:last-of-type {
    margin-bottom: 0;
  }

  .inline {
    clear: none;
  }
}

.partnership-notices {
  border: 1px solid;
  padding: 1em;
  margin-bottom: 1em;
}

.areas-of-advice {
  margin-left:2em;
}

.areas-of-advice ul, .partnership-notices ul, .partnership-contacts ul, .partnership-document ul {
  list-style-type: none;
}

.areas-of-advice ul li, .partnership-document ul li {
  background: url("../assets/images/document-icon.png") 0px 2px/15px 20px no-repeat;
  padding-left: 20px;
}

#view-field-association-name-table-column,
#view-title-table-column {
  width:30%;
}

.collapse a {
  background: url("../assets/images/expand.png") right/20px 15px no-repeat;
  padding-right: 20px;
}

.expand a {
  background: url("../assets/images/collapse.png") right/15px 20px no-repeat;
  padding-right: 20px;
}

a.no-link {
  color: black;
  text-decoration: none;
}

a.no-pointer-events {
  cursor:text;
  pointer-events: none;
}

/* Button overrides */
.button-start, .button-get-started {
  background-image: url(govuk_frontend_toolkit/images/icon-pointer.png)!important;
}

/* PA Partnerships */
.pa-partnerships {
  ul {
    padding:0;

  }

  .areas-of-advice {
    margin-left: 0;
  }
}

/* Drupal overrides */

.views-row {
  padding-bottom: 3em;
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 3em;
}

/* Iconography */

.file {
  background: url("../assets/images/document-icon.png") 0px 2px/15px 20px no-repeat;
  padding-left: 20px;
}

/* Removes bottom border underline from header logo. We are not using a logo in Transition */
#global-header #logo {
  border-bottom: none;
}

/* Pagerer overrides */

div.pagerer-container {
  display: inline-block;
  margin-top: 2em;
}

/* Flow links */

a.flow-link {
    display: table;
}

/* Reset */
fieldset, legend {
  margin: 0px;
  padding: 0px;
}

.heading-medium.fieldset-legend {
  padding: 0;
  margin: 0 0 0.5em 0;
}

// PAR green branded header/footer.
.par-header-footer {
  #global-header {
    .header-wrapper,
    & {
      background: #006633;
    }
  }

  #footer {
    .footer-meta {
      .copyright a {
        background-image: url("../assets/images/PAR/PAR-logo.png");
        background-size: 100px 100px;
      }
    }
  }
}
