/* par.scss */

// ==========================================================================
// PAR Customisations outside the Gov UK template.
// ==========================================================================
@import 'par/manifest';

@use 'accessibility';

/* Extend's GDS grid */

.column-three-quarter {
  float: left;
  width: 75%;
}

.partnership-notices {
  border: 1px solid;
  padding: 1em;
  margin-bottom: 1em;
}

.areas-of-advice {
  margin-left:2em;
}

.areas-of-advice ul, .partnership-notices ul, .partnership-contacts ul, .partnership-document ul {
  list-style-type: none;
}

.areas-of-advice ul li, .partnership-document ul li {
  background: url("../assets/images/document-icon.png") 0px 2px/15px 20px no-repeat;
  padding-left: 20px;
}

#view-field-association-name-table-column,
#view-title-table-column {
  width:30%;
}

.collapse a {
  background: url("../assets/images/expand.png") right/20px 15px no-repeat;
  padding-right: 20px;
}

.expand a {
  background: url("../assets/images/collapse.png") right/15px 20px no-repeat;
  padding-right: 20px;
}

a.no-link {
  color: black;
  text-decoration: none;
}

a.no-pointer-events {
  cursor:text;
  pointer-events: none;
}

/* Button overrides */
.button-start, .button-get-started {
  background-image: url(govuk_frontend_toolkit/images/icon-pointer.png)!important;
}

/* PA Partnerships */
.pa-partnerships {
  ul {
    padding:0;

  }

  .areas-of-advice {
    margin-left: 0;
  }
}

/* Drupal overrides */

.views-row {
  padding-bottom: 3em;
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 3em;
}

/* Iconography */

.file {
  background: url("../assets/images/document-icon.png") 0px 2px/15px 20px no-repeat;
  padding-left: 20px;
}

/* Removes bottom border underline from header logo. We are not using a logo in Transition */
#global-header #logo {
  border-bottom: none;
}

/* Pagerer overrides */

div.pagerer-container {
  display: inline-block;
  margin-top: 2em;
}

/* Flow links */

a.flow-link {
    display: table;
}

/* Reset */
fieldset, legend {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.heading-medium.fieldset-legend {
  padding: 0;
  margin: 0 0 0.5em 0;
}

// PAR green branded header/footer.
.par-header-footer {
  #global-header {
    .header-wrapper,
    & {
      background: #006633;
    }
  }

  .govuk-footer__copyright-logo {
    background-image: url("../assets/images/PAR/PAR-logo.png");
    background-size: 100px 100px;
  }
}

.govuk-grid-row {
  margin-bottom: 20px;
}
