@import "node_modules/govuk-frontend/dist/govuk/all";

$govuk-global-styles: true !default;
$govuk-assets-path: '../assets/' !default;

$govuk-compatibility-govukelements: false !default;
$govuk-compatibility-govuktemplate: false !default;
$govuk-compatibility-govukfrontendtoolkit: false !default;
$govuk-use-legacy-palette: false !default;

@import "node_modules/govuk-frontend/govuk/all";
@import "typography";
@import "overrides";
@import "search";
@import "tables";
@import "related-items";
