<div class="grid-row">
  <div class="column-third">
    {{ drupal_block('primaryauthorityfilterformblock') }}
  </div>
  <div class="column-two-thirds">
    {{ drupal_block('views_block__primary_authorities') }}
  </div>
</div>