<div class="grid-row">
  <div class="column-third">
    {{ drupal_block('coordinatorfilterformblock') }}
  </div>
  <div class="column-two-thirds">
    {{ drupal_block('views_block__associations_associations_view_block') }}
  </div>
</div>