// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;
$value-color:       #fff;

$pass-color:        #8fb347;
$fail-color:        #ad3b0e;
$else-color:        #9CB4F4;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-pull-requests styles
// ----------------------------------------------------------------------------
.widget-test-results {

  background-color: teal;
  vertical-align: top;

  .header {
    color: $label-color;
  }

  .title {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 2em;
  }

  .result_info {
    line-height: 60%;

    .value {
      font-weight: 600;
      font-size: 24px;
      color: $value-color;
    }
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 20px;
  }

  .list {
    list-style: none;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
